# Question 1

Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

6
For each time 2 is added
First b() a=0+2=2
Second b() a=2+2=4
Third b() a=4+2=6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 
>>> fileLength('midterm.py') 
284 
>>> fileLength('idterm.py') 
Traceback (most recent call last): 
File "<pyshell#34>", line 1, in <module> 
    fileLength('idterm.py') 
File "/Users/me/midterm.py", line 3, in fileLength 
    infile = open(filename) 
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: 

>>> fileLength('midterm.py') 
358 
>>> fileLength('idterm.py') 
File idterm.py not found.

In [3]:
def fileLength(file_name):

        try:
                file = open(file_name,'r')
                data = file.readlines()
                line = ""
                for i in data:
                        line += i
                result=len(line)
                return result
        except FileNotFoundError:
                return ("File {} not found.".format(file_name))

print(fileLength('midterm.py'))
print(fileLength('idterm.py'))

File midterm.py not found.
File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below: 
>>> m = Marsupial() 
>>> m.put_in_pouch('doll') 
>>> m.put_in_pouch('firetruck') 
>>> m.put_in_pouch('kitten') 
>>> m.pouch_contents() 
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0) 
>>> print(k) 
I am a Kangaroo located at coordinates (0,0) 
>>> k.put_in_pouch('doll') 
>>> k.put_in_pouch('firetruck') 
>>> k.put_in_pouch('kitten') 
>>> k.pouch_contents() 
['doll', 'firetruck', 'kitten'] 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> k.jump(1,0)
>>> print(k) 
I am a Kangaroo located at coordinates (3,0)

In [8]:
class Marsupial:

    def __init__(self):

        self.pouch = []

    def put_in_pouch(self, stuff):

        self.pouch.append(stuff)

    def pouch_contents(self):

        return self.pouch

class Kangaroo(Marsupial):


    def __init__(self, x,y):

        Marsupial.__init__(self)

        self.x = x

        self.y = y

    def jump(self, dx, dy):

        self.x += dx

        self.y += dy

    def __str__(self):

        return "I am a Kanagroo located at coordinates ("+ str(self.x) +","+ str(self.y) + ")"

    

k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

print(k.pouch_contents())

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [22]:
def main():
    collatz(10)

def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        x = x/2
        collatz(x)
    else:
        print(x)
        x = 3*x + 1
        collatz(x)

if __name__ == "__main__":
    main()

10
5.0
16.0
8.0
4.0
2.0
1.0

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. 
>>> binary(0) 
0 
>>> binary(1) 
1 
>>> binary(3) 
11 
>>> binary(9) 
1001

In [30]:
def binary(n):
    if n == 0:
        return (n)
    else:
        b = ''
        while n > 0:
            b = str((n % 2)) + b
            n //= 2
        return b


print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [70]:
class HeadingParser(HTMLParser):
    headerFlag = False
    indent = 0

    def handle_starttag(self, tag, attrs):      
        if tag == "h1":
            self.headerFlag = True
            self.indent= 0
        elif tag == "h2":
            self.headerFlag = True
            self.indent= 1
        elif tag == "h3":
            self.headerFlag = True
            self.indent= 2
        elif tag == "h4":
            self.headerFlag = True
            self.indent= 3
        elif tag == "h5":
            self.headerFlag = True
            self.indent= 4
        elif tag == "h6":
            self.headerFlag = True
            self.indent= 5
        else:
            self.headerFlag = False
            self.indent= 0
    def handle_data(self, data):                
        if self.headerFlag: 
            space = " "*self.indent
            print("%s%s" % (space,data))
    def handle_endtag(self, tag):
        if tag in ["h1","h2","h3","h4","h5","h6"]:
            self.headerFlag = False


hParser = HeadingParser()
file = open("w3c.html", "r")        
html = file.read()                  
file.close()                  
hParser.feed(html)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [45]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('http')):
            webdir(new_link, depth, indent + 1)


webdir("http://reed.cs.depaul.edu/lperkovic/test1.html", 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
http://reed.cs.depaul.edu/lperkovic/test2.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [11]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in d:\class\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in d:\class\anaconda\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in d:\class\anaconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\class\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in d:\class\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in d:\class\anaconda\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in d:\class\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: jedi>=0.16 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: decorator in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pickleshare in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\class\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in d:\class\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in d:\class\anaconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite://

In [32]:
%%sql
CREATE TABLE data
(
City varchar(15),
Country varchar(15),
Season varchar(15),
Temperature float,
Rainfall float
);

 * sqlite://
Done.

[]

In [33]:
%%sql
INSERT INTO data VALUES
('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5);

 * sqlite://
12 rows affected.

[]

In [34]:
%%sql
select * from data;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [35]:
%%sql
select Temperature from data;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [36]:
%%sql
select distinct City from data;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [37]:
%%sql
select * from data where Country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [38]:
%%sql
select * from data where Season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [39]:
%%sql
select City, Country, Season from data where Rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [40]:
%%sql
select City, Country from data where Season == 'Fall' and Temperature > 20 order by Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [41]:
%%sql
select sum(Rainfall) AS annual_rainfall from data where City == 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [42]:
%%sql
select Season, sum(Rainfall) AS annual_rainfall from data group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [2]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst1 = [i.upper() for i in words] 
print (lst1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst1 = [i.lower() for i in words] 
print (lst1)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [6]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst1 = [len(i) for i in words] 
print (lst1)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [8]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst1 = [[i.upper(),i.lower(),len(i)] for i in words] 
print (lst1)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [9]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst1 = [i.lower() for i in words if len(i)>=4]
print (lst1)

['quick', 'brown', 'jumps', 'over', 'lazy']